{% extends "base.html" %} {% set active_page = "tip" %} {% block title %}Tip{%
endblock %} {% block head %} {{ super() }}
<style type="text/css">
  .important {
    color: #336699;
  }
</style>
{% endblock %} {% block content %}

<h1 class="cover-heading">'Toss a coin to your witcher...'</h1>
<hr />
<div class="p-3 mb-2 shadow-lg rounded text-left bg-dark text-white">
  <p class="lead">Happy to be using the site? Why not tip us.</p>

  <p>
    If you're using Brave you can tip us or set a monthly contribution by using
    the <img src="/static/images/BATicon.png" width="19px" height="20px" /> tip
    button above. (to the right of the omnibar in your Brave browser.)
  </p>
  <p>
    You naturally accumulate BAT (a cryptocurrency) just by using Brave. You
    also <em>may</em> want to disable Auto-Contribute as this will automatically
    tip people you visit.
  </p>
</div>

<div class="p-3 mb-2 text-left bg-dark text-white">
  <p class="lead">What's Brave?</p>
  <p>
    Brave helps stop Google and other similar companies tracking your movements
    on the internet
  </p>
  <p>
    Brave is powered by Chromium (the same as Google Chrome), but it's more
    privacy driven.
  </p>
  <p></p>

  <p>
    <u
      ><strong
        ><a href="https://brave.com/">Find out more about Brave</a></strong
      ></u
    >
  </p>
</div>

<div class="accordion" id="accordionExample">
  <div class="card bg-dark">
    <div class="card-header text-left bg-dark text-white" id="headingOne">
      <h2 class="mb-0">
        <button
          class="font-weight-bold btn btn-link text-white"
          type="button"
          data-toggle="collapse"
          data-target="#collapseOne"
          aria-expanded="false"
          aria-controls="collapseOne"
        >
          Tip using BTC
        </button>
      </h2>
    </div>

    <div
      id="collapseOne"
      class="collapse"
      aria-labelledby="headingOne"
      data-parent="#accordionExample"
    >
      <div class="text-left card-body">Coming soon.</div>
    </div>
  </div>

  <div class="card bg-dark">
    <div class="card-header text-left bg-dark text-white" id="headingTwo">
      <h2 class="mb-0">
        <button
          class="font-weight-bold btn btn-link collapsed text-white"
          type="button"
          data-toggle="collapse"
          data-target="#collapseTwo"
          aria-expanded="false"
          aria-controls="collapseTwo"
        >
          Tip using ETH
        </button>
      </h2>
    </div>
    <div
      id="collapseTwo"
      class="collapse"
      aria-labelledby="headingTwo"
      data-parent="#accordionExample"
    >
      <div class="text-left card-body">Coming soon.</div>
    </div>
  </div>

  <div class="card bg-dark">
    <div class="card-header text-left bg-dark text-white" id="headingThree">
      <h2 class="mb-0">
        <button
          class="font-weight-bold btn btn-link collapsed text-white"
          type="button"
          data-toggle="collapse"
          data-target="#collapseThree"
          aria-expanded="false"
          aria-controls="collapseThree"
        >
          Tip using Nano
        </button>
      </h2>
    </div>
    <div
      id="collapseThree"
      class="collapse"
      aria-labelledby="headingThree"
      data-parent="#accordionExample"
    >
      <div class="text-left card-body">Coming soon. Cpanel test :) 123</div>
    </div>
  </div>
</div>

{% endblock %}
