{% extends "base.html" %}
{% set active_page = "route" %}

{% macro zone_type(zt) %}
{% if  zt == "DC" %}routes_dc{% endif %}
{% if  zt == "AD" %}routes_ad{% endif %}
{% if  zt == "EP" %}routes_ep{% endif %}
{% if  zt == "DLC" %}routes_dlc{% endif %}
{% if  zt == "Expansion" %}routes_expansion{% endif %}
{% endmacro %}
{{ zone_type("AD") }}




{%- block title -%}

    {%- if not error_message -%}
            Route from {{ source }} to {{ target }}
    {%- endif -%}

    {%- if  error_message -%}
            Route not found :(
    {%- endif -%}

{%- endblock -%}




{% block head %}
    {{ super() }}
    <style type="text/css">
        .important { color: #336699; }
    </style>
{% endblock %}

{% block content %}

    {% if not error_message %}
        <h2><a href="/{{ source }}">{{ source }}</a> to <a href="/{{ target }}">{{ target }}</a></h2>
    {% endif %}

    {% if  error_message %}
        <h2>Route not found :(</h2>
        <p><strong>Error:</strong>  {{ error_message }}</p>
    {% endif %}

<div class="container">
    {% if pairs_list %}
        <p>Route found in {{pairs_list|count}} steps</p>
        {% for pair in pairs_list %}

    <div class="row bg-dark mb-2 p-2 text-white text-left">
        <div class="col-2 p-1">
            <span class="badge badge-secondary font-italic text-left">Step {{loop.index}}</span>
        </div>
        <div class="col line-height p-1 pl-2">
            <a href="/{{ pair[0] }}">{{ pair[0] }}</a> to
            <a href="/{{ pair[1] }}">{{ pair[1] }}</a> via 
            <a href="https://en.uesp.net/wiki/Online:{{ pair[2] }}">{{ pair[2] }}</a>
            (<a href="https://en.uesp.net/wiki/Online:{{ pair[3] }}">{{ pair[3] }})</a>
            <br>{{ pair[4] }} (<span class="{{zone_type(pair[5])}}">{{ pair[5]}}</span>)

        </div>
    </div>
        {% endfor %}
    {% endif %}
</div>

<a href="/" class="btn btn-lg btn-secondary fly mt-4 mb-4">Another route?</a>
<p><a href="/random_route" class="btn fly btn-secondary">Random route?</a></p>

{% endblock %}


