{% extends "base.html" %}
{% set active_page = "node" %}

{% block title %}{{ node }}{% endblock %}

{% block head %}
    {{ super() }}
    <style type="text/css">
        .important { color: #336699; }
    </style>
{% endblock %}

{% block content %}


{% if not travel_from %}
    <h2>{{ node }}</h2>

    <p>Sorry you can't travel from {{ node }} to anywhere else.</p>

    {% else %}
    <h2>{{ node }}</h2>

    <p>Travelling from {{ node }} you can get to the places below</p>

    <div class="container mb-5 mt-5 p-3 bg-dark"> 

    <ul class='node-list'>
    {% for key, value in travel_from.items() %}
        <li><span class=" badge badge-secondary font-italic text-left">{{ value }}</span>
        <a href="{{node}}/{{key}}">{{ key }}</a>
        </li>
    {% endfor %}
    </ul>
    </div>

{% endif %}


{% if not travel_to %}
    <h2>{{ node }}</h2>

    <p>Sorry you can't get to {{ node }} from anywhere else</p>

    {% else %}
    <h2>Getting to {{ node }}</h2>

    <p>You can get to {{ node }} from the places below:</p>

    <div class="container mb-5 mt-5 p-3 bg-dark"> 

    <ul class='node-list'>
    {% for key, value in travel_to.items() %}
        <li><span class=" badge badge-secondary font-italic text-left">{{ value }}</span>
        <a href="/{{key}}/{{node}}">{{ key }}</a>
        </li>
    {% endfor %}
    </ul>
    </div>
{% endif %}


{% endblock %}


