img {
  height: auto;
  max-width: 100%;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(35, 47, 53, 0.15);
}

/* .node-container {
  margin: auto;
} */

.node-list {
  margin: auto auto;
  /* border: red 1px solid; */
  -webkit-column-count: 2;
  -webkit-column-gap: 25px;
  text-align: left;
  list-style: none;
  padding-inline-start: 0px;
  margin-block-start: 0em;
  margin-block-end: 0em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

.fly {
  background-color: #212529;
  color: white;
  font-style: italic;
}

.fly:hover {
  text-decoration: underline;
}

.subheader {
  position: relative;
  top: -25px;
  left: 15px;
}

.crow {
  width: 50px;
  position: relative;
  top: 5px;
}
