:root {
  --dc: rgb(0, 100, 150);
  --ep: rgb(165, 20, 15);
  --ad: rgb(169, 110, 22);

  --dc-image: url(/static/images/daggerfall.png);
  --ep-image: url(/static/images/ebonheart.png);
  --ad-image: url(/static/images/aldmeri.png);

  --dlc: green;
  --expansion: pink;
  --neutral: lightgray;
}

img {
  height: auto;
  max-width: 100%;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(35, 47, 53, 0.15);
}

/* .node-container {
  margin: auto;
} */

.node-list {
  margin: auto auto;
  /* border: red 1px solid; */
  -webkit-column-count: 2;
  column-count: 2;
  -webkit-column-gap: 25px;
  column-gap: 25px;
  text-align: left;
  list-style: none;
  padding-inline-start: 0px;
  margin-block-start: 0em;
  margin-block-end: 0em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

.fly {
  background-color: #212529;
  color: white;
  font-style: italic;
}

.fly:hover {
  text-decoration: underline;
}

.subheader {
  position: relative;
  top: -25px;
  left: 15px;
}

.crow {
  width: 50px;
  height: 50px;
  position: relative;
  top: 5px;
}

main a {
  font-weight: bold;
}

.routes_dc {
  color: var(--dc);
}

.routes_ad {
  color: var(--ad);
}

.routes_ep {
  color: var(--ep);
}

.routes_dc::before,
.routes_ad::before,
.routes_ep::before {
  margin-right: 5px;
  margin-left: 5px;
  position: relative;
  top: 4px;
}

.routes_ep::before {
  content: var(--ep-image);
}

.routes_dc::before {
  content: var(--dc-image);
}

.routes_ad::before {
  content: var(--ad-image);
}

.zone-badge {
  float: right;
}

.dc,
.DC {
  background-color: var(--dc);
}

.ep,
.EP {
  background-color: var(--ep);
}

.ad,
.AD {
  background-color: var(--ad);
}

.expansion,
.Expansion {
  background-color: var(--expansion);
}

.dlc,
.DLC {
  background-color: var(--dlc);
}

.neutral,
.Neutral {
  background-color: var(--neutral);
  color: rgb(59, 59, 59);
}

.zone ul {
  list-style: none;
  padding-inline-start: 0px;
  font-weight: normal;
}

.zone ul li a {
  font-weight: normal;
}

.zone-div {
  /* -moz-box-shadow: inset 0 0 10px #000000;
  -webkit-box-shadow: inset 0 0 10px #000000;
  box-shadow: inset 0 0 10px #000000; */
  padding: 5px;
  text-align: left;
  -webkit-column-break-inside: avoid;
  page-break-inside: avoid;
  break-inside: avoid;
}
.zone-cont {
  column-count: 2;
  column-gap: 50px;
}

.zone-border {
  margin: 0;
}

label {
  float: left;
}

.alert-warning {
  text-shadow: none;
}

.g-recaptcha {
  display: inline-block;
}

textarea.form-control {
  height: 200px;
}
