{% extends "base.html" %}
{% set active_page = "route" %}

{% block title %}Route{% endblock %}

{% block head %}
    {{ super() }}
    <style type="text/css">
        .important { color: #336699; }
    </style>
{% endblock %}

{% block content %}

    {% if not error_message %}
        <h2>Route found</h2>
    {% endif %}

    {% if  error_message %}
        <h2>Route not found :(</h2>
        <p><strong>Error:</strong>  {{ error_message }}</p>
    {% endif %}

<div class="container">
    {% if pairs_list %}
        <p>We can do this in {{pairs_list|count}} steps</p>
        {% for pair in pairs_list %}

    <div class="row bg-dark mb-2 p-3 text-white text-left">
        <div class="col-2 p-1">
            <span class="badge badge-secondary font-italic text-left">Step {{loop.index}}</span>
        </div>
        <div class="col">
            <span class="font-weight-bold"><a href="/{{ pair[0] }}">{{ pair[0] }}</a></span> to
            <span class="font-weight-bold"><a href="/{{ pair[1] }}">{{ pair[1] }}</a></span> via 
            <span class="font-weight-bold"><a href="https://en.uesp.net/wiki/Online:{{ pair[2] }}">{{ pair[2] }}</a></span>
            (<span class="font-weight-bold"><a href="https://en.uesp.net/wiki/Online:{{ pair[3] }}">{{ pair[3] }}</a></span>)

        </div>
    </div>
        {% endfor %}
    {% endif %}
</div>

<a href="/" class="btn btn-lg btn-secondary fly">Another route?</a>

{% endblock %}


