{% extends "base.html" %}
{% set active_page = "faq" %}

{% block title %}FAQ{% endblock %}

{% block head %}
    {{ super() }}
    <style type="text/css">
        .important { color: #336699; }
    </style>
{% endblock %}

{% block content %}

<h1 class="cover-heading">FAQ</h1>

        <div class="bg-dark p-3 mb-3 text-left">
        <p class="font-weight-bold">Are places in Greymoor included?</p>
        <p>Not yet,  it <em>is</em> on my to-do list. However I don't currently have the expansion. :( But I plan to get it!</p>
        </div>

        <div class="bg-dark p-3 mb-3 text-left">
        <p class="font-weight-bold">Can I see a list of locations?</p>
        <p>Sure can! (<a href="/locations">List of Locations</a>)</p>
        <p>Please note that I am still updating as I find new connections or places.</p>
        </div>

        <div class="bg-dark p-3 mb-3 text-left">
        <p class="font-weight-bold">I found a bug, or want to make a suggestion/give you feedback</p>
        <p>Please sit tight, I am working on a feedback form. Funnily enough it wasn't the first thing I thought of! I am not going to post my email address here.</p>
        </div>

        <div class="bg-dark p-3 mb-3 text-left">
        <p class="font-weight-bold">How did you get all your data?</p>
        <p>I get most of my data from <a href="http://uesp.net">The Elder Scrolls Pages</a> which is fan-driven wikipedia for all Elder Scrolls Games.</p>
        </div>





{% endblock %}


