{% extends "base.html" %}

{% block title %}Welcome{% endblock %}

{% block head %}
    {{ super() }}
    <style type="text/css">
        .important { color: #336699; }
    </style>
{% endblock %}

{% block content %}

<h1 class="cover-heading">Welcome to ESO Crow</h1>
        <p class="lead">Please enter a Source and Destination below. </p>
        <p class="lead">

        <form action="{{ url_for('handle_data') }}" name='myform' id="myform" method="POST">

        <p><label for="source"></label>
        <input type="text" id="source" name="source">

        <label for="destination"></label>
        <input type="text" id="destination" name="destination"></p>
        
        <input class="btn btn-lg btn-secondary" type="submit" value="Submit">
    </form>
        </p>



{% endblock %}


