{% extends "base.html" %}
{% set active_page = "index" %}

{% block title %}Welcome{% endblock %}

{% block head %}

  

    {{ super() }}
    <style type="text/css">
        .important { color: #336699; }
    </style>




{% endblock %}

{% block content %}

<h1 class="cover-heading">Tamriel Awaits...</h1>
<p>Please enter a Source and Destination. <br> <small><em>Or Source only to find out how to get to or from that place.</em></small></p>
<div id="bloodhound">

 <form action="{{ url_for('handle_data') }}" name='myform' id="myform" method="POST">

        <input class="typeahead form-control" type="text" id="Source" name="source" placeholder="Source" autocomplete="off">
        <input class="typeahead form-control" type="text"  placeholder="Destination" id="destination" name="destination" autocomplete="off">        
        <input class="btn btn-lg btn-secondary fly" type="submit" value="Fly, my pretties!">
</div>

            
    


<div class="p-4 mt-3">
<small class=""><em>ESO Crow was created to help navigate in the <a href="https://www.elderscrollsonline.com/">Elder Scrolls Online</a> (without using wayshrines).
<br>This can be quite handy when you're new to the game or just starting a new alt.</em></small>


</div>

<p><small>
<a href="/locations">Locations</a> |
<a href="/zones">Zones</a>
</small><p>


{% endblock %}

{% block scripts %}
    {% if locations %}
    <script>
        var locations = {{ locations | tojson  }};
    </script>
    {% endif %}
<script src="/static/js/eso.js"></script>
{% endblock %}
