{% extends "base.html" %}
{% set active_page = "index" %}

{% block title %}Welcome{% endblock %}

{% block head %}
    {{ super() }}
    <style type="text/css">
        .important { color: #336699; }
    </style>

{% endblock %}

{% block content %}

<h1 class="cover-heading">Welcome to ESO Crow</h1>
<p>Please enter a Source and Destination below.
<div id="bloodhound">

 <form action="{{ url_for('handle_data') }}" name='myform' id="myform" method="POST">

        <p><label for="source"></label>
        <input class="typeahead form-control" type="text" id="Source" name="source" placeholder="Source" autocomplete="off">

        <label for="destination"></label>
        <input class="typeahead form-control" type="text"  placeholder="Destination" id="destination" name="destination" autocomplete="off"></p>
        
        <input class="btn btn-lg btn-secondary" type="submit" value="Submit">
</div>

            
    


{% endblock %}




