{% extends "base.html" %}
{% set active_page = "node" %}

{% block title %}{{ node }}{% endblock %}

{% block head %}
    {{ super() }}
    <style type="text/css">
        .important { color: #336699; }
    </style>
{% endblock %}

{% block content %}

    {% if not error_message %}
        <h2>{{ node }}</h2>

        <p>From {{ node }} you can travel to the places below (the number is how many steps)</p>
    {% endif %}

    {% if error_message %}
        <h2>{{ node }} not found</h2>
    {% endif %}

{% if edges %}



<div class="container mb-0 p-3 bg-dark">

    <ul class='node-list'>
    {% for key, value in edges.items() %}
        <li><span class=" badge badge-secondary font-italic text-left">{{ value }}</span>
        <a href="{{node}}/{{key}}">{{ key }}</a>
        </li>
    {% endfor %}
    </ul>
</div>

{% endif %}


  


{% endblock %}


