{% extends "base.html" %}
{% set active_page = "node" %}

{% block title %}{{ node }}{% endblock %}

{% block head %}
    {{ super() }}
    <style type="text/css">
        .important { color: #336699; }
    </style>
{% endblock %}

{% block content %}

    {% if not error_message %}


        {% if not edges %}
            <h2>{{ node }}</h2>

            <p>Sorry you can't travel from {{ node }} to anywhere else.</p>

        {% else %}
            <h2>{{ node }}</h2>

            <p>Travelling from {{ node }} you can get to the places below (the number is how many steps)</p>

        {% endif %}



    {% endif %}



    {% if error_message %}
        <h2>{{ node }} not found</h2>
    {% endif %}

{% if edges %}

<div class="container mb-5 mt-5 p-3 bg-dark"> 

    <ul class='node-list'>
    {% for key, value in edges.items() %}
        <li><span class=" badge badge-secondary font-italic text-left">{{ value }}</span>
        <a href="{{node}}/{{key}}">{{ key }}</a>
        </li>
    {% endfor %}
    </ul>
</div>

{% endif %}

{% if not how_to_get_to %}
            <h2>{{ node }}</h2>

            <p>Sorry you can't get to {{ node }} from anywhere else</p>

        {% else %}
            <h2>Getting to {{ node }}</h2>

            <p>You can get to {{ node }} from the places below:</p>

        {% endif %}

{% if how_to_get_to %}
<div class="container mb-0 p-3 bg-dark"> 

    <ul class='node-list'>
    {% for key, value in how_to_get_to.items() %}
        <li><span class=" badge badge-secondary font-italic text-left">{{ value }}</span>
        <a href="/{{key}}/{{node}}">{{ key }}</a>
        </li>
    {% endfor %}
    </ul>
</div>
{% endif %}


  


{% endblock %}


