{% extends "base.html" %}
{% set active_page = "updates" %}

{% block title %}Updates{% endblock %}

{% block head %}
    {{ super() }}
    <style type="text/css">
        .important { color: #336699; }
    </style>
{% endblock %}

{% block content %}

<h1 class="cover-heading">Updates</h1>
<hr>

        <div class="p-3 mb-3 text-left bg-dark text-white update-list">
        <p><span class="font-weight-bold">Wednesday 17th June 2020</span>
        <p>Finally added a <a href="/contact">contact</a> page.</p>
        </div>

        <div class="p-3 mb-3 text-left bg-dark text-white update-list">
        <p><span class="font-weight-bold">Friday 5th June 2020</span>
        <p> Added <a href="/zones">Zones</a> and a few more cosmetic changes</li></p>
        </div>

        <div class="p-3 mb-3 text-left bg-dark text-white update-list">
        <p><span class="font-weight-bold">Saturday 30th May 2020</span>
        <ul>
        <li>Few cosmetic changes</li>
        <li>Thanks to a user on <a href="https://www.reddit.com/r/elderscrollsonline/comments/gt27jg/media_created_a_website_to_help_travel_in_tamriel/">Reddit</a>: Added <a href="/Rimmen">Rimmen</a> and all connections that the <a href="https://en.uesp.net/wiki/Online:Baandari_Caravan_Stop">Bandaari Caravan Stop</a> gives.</li>
        <li>Added Zonal information on the route page</li>
        </ul>
        </div>



        <div class="p-3 mb-3 text-left bg-dark text-white update-list">
        <p><span class="font-weight-bold">Friday 29th May 2020</span>
        <ul>
        <li>Individual pages will now also tell you how to get there.</li>
        <li>Updated order so quicker routes are displayed first then listed alphabetically</li>
        </ul>
        </div>

        <div class="p-3 mb-3 text-left bg-dark text-white update-list">
        <p><span class="font-weight-bold">Thursday 28th May 2020</span>
        <ul>
        <li>Updated main page</li>
        <li>Added a <a href="/locations">list of all locations</a> on the site</li>
        <li>You can now search for just a Source, and we will tell you where you can go from there. <a href="/Vivec">See here</a>.</li>
        <li>Added <a href="/faq">FAQ</a></li>
        </ul>
        </div>

        <div class="p-3 mb-3 text-left bg-dark text-white update-list">
        <p><span class="font-weight-bold">Wednesday 27th May 2020</span>
        <ul>
        <li>You can now use <span class="font-weight-bold"><a href="http://esocrow.com">esocrow.com</a></span> to access this site</li>
        <li>Added autocomplete</li>
        </ul>
        </div>

        <div class="p-3 mb-3 text-left bg-dark text-white update-list">
        <p><span class="font-weight-bold">Tuesday 26th May 2020</span>
        <p>Intial implemention.</p>
        </div>

{% endblock %}


