{% extends "base.html" %}
{% set active_page = "updates" %}

{% block title %}Updates{% endblock %}

{% block head %}
    {{ super() }}
    <style type="text/css">
        .important { color: #336699; }
    </style>
{% endblock %}

{% block content %}

<h1 class="cover-heading">Updates</h1>

        <div class="p-3 mb-3 text-left bg-dark text-white update-list">
        <p><span class="font-weight-bold">Thursday 28th May 2020</span>
        <ul>
        <li>Updated main page</li>
        <li>Added a <b><a href="/locations">list of all locations</a></b> on the site</li>
        <li>You can now search for just a Source, and we will tell you where you can go from there. <b><a href="/Vivec">See here</a>.</b></li>
        <li>Added <a href="/faq">FAQ</a></li>
        </ul>
        </div>

        <div class="p-3 mb-3 text-left bg-dark text-white update-list">
        <p><span class="font-weight-bold">Wednesday 27th May 2020</span>
        <ul>
        <li>You can now use <span class="font-weight-bold"><a href="http://esocrow.com">esocrow.com</a></span> to access this site</li>
        <li>Added autocomplete</li>
        </ul>
        </div>

        <div class="p-3 mb-3 text-left bg-dark text-white update-list">
        <p><span class="font-weight-bold">Tuesday 26th May 2020</span>
        <p>Intial implemention.</p>
        </div>

{% endblock %}


